# Git submodules
[submodule "Steam-Protobufs"]
	path = 3rd_party/Steam-Protobufs
	url = https://github.com/SteamTracking/Protobufs
[submodule "SteamKit"]
	path = 3rd_party/SteamKit
	url = https://github.com/ngerow2025/SteamKit
[submodule "ValveFileVDF"]
	path = 3rd_party/ValveFileVDF
	url = https://github.com/TinyTinni/ValveFileVDF
[submodule "external/magic_enum"]
	path = 3rd_party/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "3rd_party/libzippp"]
	path = 3rd_party/libzippp
	url = https://github.com/ctabin/libzippp
[submodule "3rd_party/pybind11"]
	path = 3rd_party/pybind11
	url = https://github.com/pybind/pybind11.git
